@model ecommerce.Models.ProductViewModel
@{

}
@Styles.Render("~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.css")
<link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<div class="hero-wrap hero-bread" style="background-image: url('../../images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
                <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center filters" id="filters">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li> <button class="btn btn-primary active" data-filter="*">All</button></li>
           
                @foreach (var item in Model.CategoryList)
                 {
                        <li> <button class="btn btn-primary" id="@item.Id" data-filter=".@item.Id">@item.CategoryName</button></li>
                   }
                </ul>
            </div>
        </div>
        <div class="row" id="" >
@foreach (var item in Model.ProductsList)
{
            <div class="col-md-6 col-lg-3 ftco-animate filter @item.CategoryId">
                <div class="product">
                    <a href="/shop/productdetail/@item.Id" class="img-prod">
                        <img class="img-fluid" src=@item.Image alt="">
                       
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="/shop/productdetail/@item.Id">@item.ProductName</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span class="price-sale">$@item.ActualPrice</span></p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="/shop/productdetail/@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
}
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <table  id="example2">
      <thead>
                <tr>
                  <th></th>
                 
                </tr>
                </thead>
        <tbody>
            <tr>
                <td>Trident</td>
            
            </tr>
            <tr>
                <td>Trident</td>
               
            </tr>
            <tr>
                <td>Trident</td>
               
            </tr>
            <tr>
                <td>Trident</td>
               
            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
            <tr>
                <td>Trident</td>

            </tr>
                   </tbody>
       
    </table>

</section>
@Scripts.Render("~/content/plugins/jquery/jquery.min.js")

<script type="text/javascript">
    $(function () {
        ProductFilter();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    }); 
</script>